<!-- views/acknowledgement.ejs -->
<%- include('../partials/header') %>



    <div class="container">
        <h1>Thank you for your interest!</h1>
        <p>We have received your application. Here are the next steps:</p>
        <form>
            <fieldset>
                <legend>Next Steps</legend>
                <ol>
                    <li>Getting a background check with CMS at <a href="https://www.cmsvolunteers.com/" target="_blank">CMS Volunteers</a></li>
                    <li>After successful background check, proceed to sign up with PIMOSH at <a href="https://www.pimosh.net/signup" target="_blank">PIMOSH Signup</a></li>
                    <li>Select your 1-on-1 appointment schedule with the Executive Director</li>
                </ol>
            </fieldset>
        </form>
    </div>


<%- include('../partials/footer') %>
