<%- include('./partials/header.ejs') %>

<div class="image-with-text-new">
    Interested in joining one of our events?
</div>

<section class="text-center my-4">
    <img src="img/TechTitans.jpg" class="event-img">
    <a href="/tech_titans">
        <h1 class="event-title">Tech Titans</h1>
    </a>
    <p class="event-text">Tech Titans! This is an event where your children will be able to learn more<br> about the world of technology with people who know so much about technology</p>
</section>

<section class="text-center my-4">
    <img src="img/MintMuseum.jpg" class="event-img">
    <a href="/blog">
        <h1 class="event-title">Mint Museum</h1>
    </a>
    <p class="event-text">Join us on July 26 as we venture into the Mint Museum, the first art museum in<br> North Carolina. This museum includes art exhibitions from around the world, interactive works, and programs.</p>
</section>

<section class="text-center my-4">
    <img src="img/Awards.jpg" class="event-img">
    <a href="/blog">
        <h1 class="event-title">Tech Titans Awards</h1>
    </a>
    <p class="event-text">On August 2, we will have an awards ceremony for our PIMOSH interns<br> as they finish their wonderful experience with us</p>
</section>

<section class="text-center my-4">
    <img src="img/Academics.jpg" class="event-img">
    <a href="/blog">
        <h1 class="event-title">2024-25 Academic Programs</h1>
    </a>
    <p class="event-text">Join us as we teach you about a world of topics, if you are having trouble or you are<br> just wanting to learn a new topic, we will teach you the best way we can!</p>
</section>

<section class="text-center my-4">
    <img src="img/microsoft.webp" class="event-img">
    <a href="/blog">
        <h1 class="event-title">Spring Break @ Microsoft</h1>
    </a>
    <p class="event-text">Need something to do over Spring Break? We got you covered!<br> Come along with us to Microsoft and learn so much about technology!</p>
</section>

<section class="text-center my-4">
    <img src="img/arts-advocacy.jpg" class="event-img">
    <a href="/blog">
        <h1 class="event-title">Arts Education Institute</h1>
    </a>
    <p class="event-text text-with-space">During the summer you will be a part of the Arts program where you will be able to let your creative side run wild!<br> You will be able to have a hands-on approach with creating beautiful works of art.</p>
</section>

<%- include('./partials/footer.ejs') %>
