<head>
<%- include('./partials/header.ejs') %>
    <title>Tech Titans</title>
</head>

<style>
    .header{
        background-color: white;
        padding: 20px;
        text-align: center;
    }
    h2{
        text-align: center;
        color: #79507A;
    }
    h3{
        text-align: left;
        padding-left: 20px;
    }
    li, p{
        padding-left: 20px;
    }
    .Tech_titans_eng{
        width: 30%;
        height: auto;
        align-items: center;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .Tech_titans_spa{
        width: 30%;
        height: auto;
        align-items: center;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
</style>

<body>
    <div class="header container">
        <h1>Tech Titans at UNCC</h1>
        
    </div>
    <div class="content container">
        <div class="section container">
            <div class="container row">
                <img src="\img\2024 Tech-Titans - English-8.png" class="Tech_titans_eng col-sm-6" alt="tech_titans_eng">   
                <img src="\img\2024 Tech-Titans - Spanish-4.png" class="Tech_titans_spa col-sm-6" alt="tech_titans_spa">
            </div>
            <h2>About Tech Titans</h2>
            <p>Tech Titans is an annual event held at the University of North Carolina at Charlotte (UNCC) that celebrates the achievements of our students and faculty in the field of technology. Last year's event highlighted groundbreaking projects and innovations in software development, cybersecurity, artificial intelligence, and more.</p>
            <h2>Purpose of Tech Titans</h2>
            <p>The purpose of Tech Titans is to foster a community of tech enthusiasts, 
                provide a platform for networking, and showcase the incredible work being done at UNCC. 
                It aims to inspire students to pursue careers in technology and to recognize the 
                efforts of those who are making significant contributions to the field.</p>
        </div>

        <div class="section1 container">
            <h2>2024 Information</h2>
            <h3>Time and Dates:</h3>
            <p>Monday - Friday, July 22 - August 2</p>
            <p>8:30am - 3:30pm</p>

            <h3>Expectations:</h3>
            <ul>
                <li>Hands-On Learning: Engage in meaningful projects that cover 
                various aspects of technology, including AI, coding, cybersecurity, robotics, and more.</li>
                <li>Competitions and Prizes: Participate in a variety of exciting activities, 
                competitions with prizes, and research 
                fostering creativity, critical thinking, and teamwork.</li>
                <li>Expert Guidance: Learn from UNCC's faculty research teams and the 2024 Guest Speaker Series.</li>
                <li>All You Can Eat Lunch: Enjoy a light breakfast too, ensuring students are energized 
                and ready to tackle each day.</li>
                <li>Enrichment Trips: Enjoy a change of scenery on Fridays with fun and educational trips.</li>
            </ul>

        </div>
        <div class="section2 container">
            <p>Space is limited! Don't miss out on this incredible opportunity to advance your STEM skills and experience college life at UNCC.</p>
            <p>Join us for two weeks of technology, learning, and fun! 🌟<br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTLcU3uNdLuZsurHQlUAtnkFlf-WrfAvdJGUNktW11PFEohg/viewform" class="btn btn-primary">Click here to sign up</a>
        </div>
    </div>
</body>

<%- include('./partials/footer.ejs') %>