<%- include('../partials/header.ejs') %>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Acting/Drama <br><br>  </h1>
    <text> Arts Info </text>
</section>


<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Junior Journalists <br><br> Calling all future writers! </h1>
    <text> Is your child a fan of story telling or writing stories? </text>
</section>

<section class="text-center my-4">
    <img src="/img/JournalistPicture.jpg" width="650px" height="650px">

    <a>
        <h3 style="font-size: 60px;"></h3>
    </a>

    <text style="font-size: 25px;">In 2014, 10 students were all able to interview city officials, entertainers, and small business owners.<br></text>
    <text style="font-size: 25px;">Students learned to create relevant news based on press releases adding, changing, or <br></text>
    <text style="font-size: 25px;">moving images, pictures, and words.   Kids who enjoy telling and writing stories need to do<br></text>
    <text style="font-size: 25px;">more of the same.  PIMOSH is always an age-appropriate opportunity, and your children and family<br></text>
    <text style="font-size: 25px;">will never forget the PIMOSH Experience.<br></text>

    <a>
        <h1 style="font-size: 60px;"><br></h1>
    </a>

    <text style="font-size: 25px;">The Junior Journalist Project is another signature program from the Ponderings of Patrina!<br></text>  
    <text style="font-size: 25px;">Junior Journalists are everywhere, and if they are not solicited as early as elementary school,<br></text> 
    <text style="font-size: 25px;">we are plugging the wrong people into the bad roles.   PIMOSH is working to change this, one student<br></text> 
    <text style="font-size: 25px;">and project at a time and thinking maybe an endangered species - If we are not careful.<br></text>

    <a>
        <h1 style="font-size: 60px;"><br></h1>
    </a>

    <text style="font-size: 25px;">Junior Journalists learn to utilize a combination of words, pictures, and moving images, their faces,<br></text>
    <text style="font-size: 25px;">and voices to provide people with news and information from their neighborhood, town, city, and worldwide.<br></text>
    <text style="font-size: 25px;">PIMOSH Junior Journalists have a coach/mentor and are public speakers, and they know how to interview folks,<br></text>
    <text style="font-size: 25px;">take copious notes, and more.<br></text>
    <text style="font-size: 25px;">

    <a href="#">
        <br>
        <h1 style="font-size: 60px;"> APPLY HERE </h1>
    </a>

</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Dance/Choreography <br><br>  </h1>
    <text> Dance Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Graphics/Photography <br><br>  </h1>
    <text> Graphics Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Instrumentation <br><br>  </h1>
    <text> Instrumentation Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Studio Recording/Voice <br><br>  </h1>
    <text> Studio Info </text>
</section>

<%- include('../partials/footer.ejs') %>