<%- include('../partials/header.ejs') %>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Program Overview <br><br>  </h1>
    <text> Program Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Curriculum <br><br>  </h1>
    <text> Curriculum Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Resources <br><br>  </h1>
    <text> Resources Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Events <br><br>  </h1>
    <text> Event Info </text>
</section>

<section class="text-center my-4">
    <h1 style="font-size: 60px;"> Enrollment Information <br><br>  </h1>
    <text> Enroll Info </text>
</section>

<%- include('../partials/footer.ejs') %>